body {
  background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #3a4870;
}

h1 {
  font-size: 15px;
  display: block;
  text-align: left;
  margin: 0 auto;
  padding: 20px 0 0;
}

h2 {
  font-size: 15px;
  display: block;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
}

ul {
  list-style: none;
  line-height: 25px;
  margin: 0 auto;
  padding: 4px;
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 4px;
}

.weather-app-wrapper {
  color: #3a4870;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  max-width: 600px;
  margin: 30px auto;
  border: 10px solid #fdfbfb;
  border-radius: 20px;
  padding: 30px;
}

.row {
  line-height: 30px;
  padding: 0px;
  padding-left: 5px;
  margin: 0 auto;
}

.forecast {
  font-family: "Montserrat", sans-serif;
  color: #3a4870;
  font-size: 12px;
  padding-left: 5px;
}

.temperature {
  font-size: 50px;
  padding-right: 0px;
  padding-left: 40px;
  padding-top: 30px;
  margin: 0 auto;
}

.visual {
  font-size: 90px;
  color: #3a4870;
  padding-right: 0px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
  border: 1px solid #3a4870;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #f2e7e9;
  background-color: #3a4870;
}

.button:hover {
  border-radius: 5px;
  border: 1px solid #f2e7e9;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #3a4870;
  background-color: #f2e7e9;
}

.button-location {
  border-radius: 5px;
  border: 1px solid #3a4870;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #f2e7e9;
  background-color: #3a4870;
}

.button-location:hover {
  border-radius: 5px;
  border: 1px solid #f2e7e9;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #3a4870;
  background-color: #f2e7e9;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
